<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="APIKey" value="bFIWL3ko9L72eDG8e1mPbP4qW"/>
		<add key="APIKeySecret" value="YK8ThShcujg8GbZ85hVUJXlpgNjzEWrQjS4j5DwNL7P4G9iprg"/>
		<add key="BearerToken" value="AAAAAAAAAAAAAAAAAAAAAHzMzwEAAAAAdng2xMsRvBUSY8iL4S3DNPbWTxE"/>
		<add key="AccessToken" value="1900832304500506625-MLKbWfmJDOYrYBD1RJGkAZ6oyZjCjY"/>
		<add key="AccessTokenSecret" value="G5B4U6G4JPzeMPTAkyyB24FjEG4QM9uTuRvWPzHUknLRs"/>
	</appSettings>
</configuration>