<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="initialFormWidth" value="750"/>
		<add key="initialFormHeight" value="240"/>
		<add key="finalFormHeight" value ="610"/>
		
		<add key="LoggerDirectory" value="C:\Users\matja\source\repos\PostGraduate\PostGraduate_MachineLearning\logs"/>
	</appSettings>
</configuration>